    
    
    .container.home-intro-container {
      position: relative;
      top: -50px;
      z-index: 8;
    }

    .container.centered {
      text-align: center;
    }

    .container.item-header {
      margin-top: 55px;
      margin-bottom: 65px;
    }

    .home-intro-section {
      height: 13%;
      background-color: #000;
    }

    .home-intro {
      position: relative;
      overflow: hidden;
      height: 105px;
      padding-right: 170px;
      margin-right: 38px;
      margin-right: 38px;
      margin-left: 38px;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 0 9px 0 rgba(0, 0, 0, .16);
    }

    .intro-column {
      height: 100%;
    }

    .intro-info {
      position: relative;
      height: 100%;
      padding-top: 36px;
      padding-left: 110px;
    }

    .intro-icon-1 {
      position: absolute;
      left: 30px;
      top: 25px;
      width: 60px;
      height: 60px;
      padding-top: 13px;
      border: 3px solid #d0d0d0;
      border-radius: 100%;
      text-align: center;
    }

    .intro-info-title {
      font-family: Montserrat, sans-serif;
      color: #000;
      font-size: 19px;
      font-weight: 700;
    }

    .intro-info-title.subtitle {
      color: #b5b5b5;
      font-size: 13px;
      font-weight: 400;
    }

    .intro-icon {
      height: 24px;
    }

    .intro-row {
      height: 100%;
    }

    .navhover a:hover:not(.active) {
      background-color: #f7ca44;
      color: white;
    }

    .navbar-fixed-top.scrolled {
      background-color: #F7CA44 !important;
      transition: background-color 200ms linear;
    }
    .navPad{
      padding-left: 20px !important;
    }

/* sponser and speaker */
    .sponcer {
      transition: 0.3s;
      border-radius: 5px;
    }
    
    .sponcer:hover {
      box-shadow: 0px 24px 30px 0px rgba(0,0,0,0.2);
      z-index: 100;
    }


    .speaker {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 5px;
    }
    
    .speaker:hover {
      box-shadow: 0px 24px 30px 0px rgba(0,0,0,0.2);
      z-index: 100;
    }
    
    img {
      border-radius: 5px 5px 5px 5px;
    }
    /* end */
    .headings-block{
      padding: 5px;
      background-color: #f7ca44;
    }
  .headings:hover{
   color: white !important;
  }
  .about:hover{
    box-shadow: 0px 24px 30px 0px rgba(0,0,0,0.2);
    color: #f7ca44;
  }
  .modal {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#myVideo {
  opacity: 0.9;
  /* position: fixed; */
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: absolute;
  top: 35%;
  /* left: 5%; */
  right: 12%;
  
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  z-index: 100;
}

#myBtn {
  position: absolute;
  top : 78%;
  right: 5%;
  font-size: 20px;
  padding: 6px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
#mySlider{
  display: block;
}

@media (max-width: 640px) 
{
  #mySlider
  {
      display: none;
  }
}
@media (max-width: 1200px) 
{
  #myBtn
  {
    top : 60%;  
  }
}
@media (max-width: 950px) 
{
  #myBtn
  {
    top : 55%;  
  }
}
@media (max-width: 790px) 
{
  #myBtn
  {
    top : 50%;  
  }
}
@media (max-width: 700px) 
{
  #myBtn
  {
    top : 35%;  
  }
}
@media (max-width: 630px) 
{
  #myBtn
  {
    top : 30%;  
  }
}